@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/*header {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    z-index: 1000;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: flex-start;*/
/*    padding: 10px 0;*/
/*    background: rgba(0,0,0,0.5);*/
/*    flex-direction: column;*/
/*}*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px; /* расстояние между иконкой и заголовком */
}

.header-buttons {
    display: flex;
    margin-left: 10px;
    gap: 15px;
}

.home-button-container {
    background: white;
    border-radius: 20%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень для объема */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-button-container:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

header img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

h1 {
    color: #333;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: left;
}

h2 {
    color: #333;
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 20px;
}

body {
    background: url('http://127.0.0.1:9000/test/kosmo_background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Noto Serif', serif;
    min-height: 100vh;
    margin: 0;
    padding-right: 20px;
    padding-top: 150px;
}

.order-container {
    position: relative;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    backdrop-filter: blur(5px);
}

.order-image {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    object-fit: cover;
    margin: 20px 0;
    display: block;
}

.description {
    font-size: 16px;
    color: #888;
    margin: 15px 0;
    line-height: 1.5;
    text-align: left;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.back-button,
.add-to-cart-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 500;
    transition: background-color 0.3s;
    font-family: 'Noto Serif', serif;
}

.back-button {
    background-color: #B09898;
}

.back-button:hover {
    background-color: #8B7B7B;
}

.add-to-cart-button {
    background-color: #4507FF;
}

.add-to-cart-button:hover {
    background-color: #0056b3;
}

.page-title {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 36px;
    font-weight: 600;
    color: #EFEFEF;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.cart-button-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-button-container img {
    display: block;
    width: 45px;
    height: 45px;
    position: relative; /* теперь кружок будет привязан к картинке */
}

.cart-count{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.coordinates-container {
    position: absolute;
    top: 60px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.coordinate-block {
    padding: 12px 20px;
    border-radius: 10px;
    border: 2px solid #B09898;
    background: rgba(255, 255, 255, 0.9);
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    color: #333;
    min-width: 200px;
}

