<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Корзина заказов</title>
    <link rel="stylesheet" href="/static/styles/shoppingCartPageWithApplications_style.css">
</head>
<body>
<header>
    <div class="page-title">Список звёзд для расчёта</div>
    <a href="/hello" class="home-button-header">
        <img src="http://127.0.0.1:9000/test/home.png" alt="home">
    </a>
</header>

<div class="page-controls">
<!--    <form action="/search" method="get" class="search-form">-->
<!--        <input type="text" name="query" placeholder="Введите название звезды..." class="search-input">-->
<!--        <button type="submit" class="search-button">Найти</button>-->
<!--    </form>-->
</div>

<div class="cart-container" id="cart-{{ .cart.ID }}">
    <h1>Ваша корзина</h1>

    {{ if .cart.Orders }}
    <div class="cart-items">
        {{ range .cart.Orders }}
        <div class="cart-item">
            <div class="item-image-container">
                <div class="item-image-background"></div>
                <img src="{{ .ImageURL }}" alt="{{ .Title }}" class="item-image">
            </div>

            <div class="item-info">
                <h3 class="item-title">{{ .Title }}</h3>
                <p class="item-description">{{ .ShortDescription }}</p>
                <p>Результат вычислений: {{ .Result }}</p>

                <div class="item-actions">
                    <a href="/order/{{.ID}}" class="details-button">Подробнее</a>
                    <!--  <button class="remove-button">Удалить из корзины</button>-->
                </div>

                {{ if gt .Quantity 0 }}
                <div class="quantity-controls">
                    <button class="decrease-button">-</button>
                    <span class="item-count">{{ .Quantity }}</span>
                    <button class="increase-button">+</button>
                </div>
                {{ end }}

                <div class="observation-container">
                    <span class="observer-coord">Широта: {{ .ObserverLat }}</span>
                    <span class="observer-coord">Долгота: {{ .ObserverLong }}</span>
                    <span class="observation-date">Дата наблюдения: {{ .ObservationDate }}</span>
                </div>
            </div>

            <div class="star-coord-container">
                <span class="star-coord">{{ .CoordStar1 }}</span>
                <span class="star-coord">{{ .CoordStar2 }}</span>
            </div>

        </div>
        {{ end }}
    </div>
    {{ else }}
    <div class="empty-cart">
        <p>Корзина пуста</p>
        <a href="/hello" class="back-button">Вернуться к выбору</a>
    </div>
    {{ end }}
</div>

<!--<div class="cart-footer-left">-->
<!--    <div class="footer-buttons">-->
<!--        <button class="footer-button clear-basket">Очистить корзину</button>-->
<!--        <button class="footer-button save-basket">Сохранить заказ</button>-->
<!--        <button class="footer-button checkout">Оформить заказ</button>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>