<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Корзина заказов</title>
    <link rel="stylesheet" href="/styles/shoppingCartPageWithApplications_style.css">
</head>
<body>
<header>
    <a href="/stars" class="home-button-header">
        <img src="http://127.0.0.1:9000/test/home.png" alt="home">
    </a>
    <div class="page-title">Список звёзд для расчёта</div>
</header>

<div class="cart-container" id="cart-{{ .telescopeObservation.TelescopeObservationID }}">
    <h1>Ваша корзина</h1>

    {{ if .telescopeObservation.TelescopeObservationStars }}
    <div class="cart-items">
        {{ range .telescopeObservation.TelescopeObservationStars }}
        <div class="cart-item">
            <div class="item-image-container">
                <div class="item-image-background"></div>
                <img src="{{ .Star.ImageURL }}" alt="{{ .Star.StarName }}" class="item-image">
            </div>

            <div class="item-info">
                <h3 class="item-title">{{ .Star.StarName }}</h3>
                <p class="item-description">{{ .Star.ShortDescription }}</p>

                {{ if gt .Quantity 0 }}
                <div class="quantity-controls">
                    <span class="item-count">{{ .Quantity }}</span>
                </div>
                {{ end }}

                <div class="observation-container">
                    <span class="observer-coord">Широта: {{ $.telescopeObservation.ObserverLatitude }}</span>
                    <span class="observer-coord">Долгота: {{ $.telescopeObservation.ObserverLongitude }}</span>
                    <span class="observation-date">
                        Дата наблюдения:
                        {{ if $.telescopeObservation.ObservationDate }}
                            {{ $.telescopeObservation.ObservationDate.Format "02-01-2006" }}
                        {{ else }}
                            &nbsp;&nbsp;&nbsp;
                        {{ end }}
                    </span>
                </div>
            </div>

            <div class="star-coord-container">
                <span class="star-coord">RA: {{ .Star.RA }}</span>
                <span class="star-coord">Dec: {{ .Star.Dec }}</span>
                <span class="star-coord">Результат:
                    {{ if .ResultValue }}
                        {{ .ResultValue }}
                    {{ end }}

                </span>
            </div>
        </div>
        {{ end }}
    </div>
    {{ else }}
    <div class="empty-cart">
        <p>Корзина пуста</p>
        <a href="/stars" class="back-button">Вернуться к выбору</a>
    </div>
    {{ end }}
</div>

<div class="cart-footer-left">
    <form method="post" action="/telescopeObservation/{{ .telescopeObservation.TelescopeObservationID }}/delete" style="display:inline;">
        <button type="submit" class="footer-button delete-order"
                onclick="return confirm('Вы уверены, что хотите удалить эту корзину?');">
            Удалить корзину
        </button>
    </form>
</div>
</body>
</html>